.sectionAreaAround {
    display: flex;
    /* justify-content: space-between;
    gap: 60px; */
    height: 100vh;
    background-color:  #121214;
}
.sectionFormArea {
    background-color:  #121214;
    display: flex;
    align-items: center;
    justify-content: center;
    width:80%;
}
.sectionWithContent {
    background-color:  #121214;
    display: flex;
    justify-content: center;
    align-items: flex-start ;
    flex-direction: column;
    color: #ffffff;
}
.formFromSignIn {
    background-color: #202024;
    color: #ffffff;
    padding: 65px;
    padding-top: 5px ;
    width: 45%;
}
.formFromSignIn h1{
    padding-top: 0;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
    font-size: 36px;
}
.gambi {
    color: #FB5700;
}
.gambi:hover {
    color: #CD4700;
}
.sectionWithContent h1{
    color: #FB5700;
    font-size: 60px;
}
.logoArea{
    display: flex;
}
.sectionWithContent a{
    color: #FB5700;
    text-decoration: none;
}
.sectionWithContent a:hover{
    color: #CD4700;
}