@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');

.content{
    width: 90%;
    height: 100%;
    max-width: 75em;
    margin: auto;
    /* background-color: #202024; */

}



.flex-center-bt{
    display: flex;
    align-items: center;
    justify-content: space-around;

}

.areaT{
    /* width: 2000px; */
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 250px;
    background-color: #202024;
}


.titleA{
    width: 1020px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.titleA h3{
    max-width: 10em;
    color: #ffff;
    padding-left: 210px;
}


.search{
    color:#ffff;
    width: 258px;
    height: 30px;
    border-radius: 5px;
    border: 1px solid #121214;
    background-color: #121214;
}
.cont{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.btn-search{
    width: 30px!important;
    height: 20px;
    background: url(http://www.devmedia.com.br/imagens/2013/buscar_grey.png) no-repeat;
    cursor: pointer!important;
    border: none;
    position: absolute;
    transform: translateY(-50%); 
}
/* Area dos cursos */
.areaKey{
    height: 400px;
    background-color: #202024;
    /* background-color: aqua; */
}

.tArea h3{
    padding-left: 1em;
    color: #ffff;
}

.card{
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    margin-top: 1.5em;
}

.card2{
    width: 550px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 1.5em;
}

/* .tArea{
    padding-inline-end: 20em;
    display: flex;
    align-items: flex-start;
    margin-left: 4.6em;
  
}



/* cards */
/* .cards{
    
    box-shadow: 4px 4px 4px #121214;
    width: 250px;
    height: 80px;
    background-color: #121214;
}

.cards p{
    padding-left: 10px;
    font-size: 12px;
    margin-top: 2em;
    font-family: 'Poppins', sans-serif;
}

.cards img{
    padding-left: 0.5em;
    width: 48px;
}


.keyC{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
  */
